@font-face {
  font-family: 'Elianto-Regular';
  src: url('../font/onlinefontconverter.com/converted-files/Elianto-Regular.eot');
  src: url('../font/onlinefontconverter.com/converted-files/Elianto-Regular.eot#iefix') format('embedded-opentype'),
       url('../font/onlinefontconverter.com/converted-files/Elianto-Regular.svg#Elianto-Regular') format('svg'),
       url('../font/onlinefontconverter.com/converted-files/Elianto-Regular.ttf') format('truetype'),
       url('../font/onlinefontconverter.com/converted-files/Elianto-Regular.woff') format('woff'),
       url('../font/onlinefontconverter.com/converted-files/Elianto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
  margin:0;
  padding: 0; 
  text-align: center;
  background: #0E141E;
  box-sizing: border-box;
}

#particles-js{
  background: #0E141E;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: none;
}


#addovedi{
  position: absolute;
  top: 50%;
}

#logo-home{
  width: 100%;
  height: auto;
}

.menu-item{
  color: #d3f7f7;
  font-size: 2rem;
}

header{
  align-items: center;
  justify-content: center;
}

.menu {
  -webkit-filter: url("#shadowed-goo");
  filter: url("#shadowed-goo");
  position: absolute;
  z-index: 999;
}

.menu-item, .menu-open-button {
  background: #141E30; 
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  
  background: linear-gradient(to bottom, #243B55, #141E30); 
  border: 1px dotted azure;
  border-radius: 100%;
  width: 5.2rem;
  height: 5.2rem;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

/*Middle animation so that user knows where to click*/
.spinner{
  position: absolute;
  color: red;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%,-50%);
  width: 110px;
  height: 110px;
  text-align: center;
  font-size: 20px;
  line-height: 130px;    
}

.spinner:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animate 2s linear infinite;
}

.spinner:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animate 2s reverse infinite;
  animation-delay: 3s;
}

@keyframes animate{
  0%{
      width: 0;
      height: 0;
      border: 4px solid #882591;
      box-shadow: 0 0 100px #882591;
      opacity: 5;
  }
  100%{
      width: 100%;
      height: 100%;
      border: 6px solid #efdff3;
      box-shadow: 0 0 100px #efdff3;
      opacity: 0;
  }
}

/**/










/* .hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
} */

.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: #ff4081;
}
.menu-item:nth-child(3) {
  transition-duration: 70ms;
}
.menu-item:nth-child(4) {
  transition-duration: 130ms;
}
.menu-item:nth-child(5) {
  transition-duration: 190ms;
}
.menu-item:nth-child(6) {
  transition-duration: 250ms;
}
.menu-item:nth-child(7) {
  transition-duration: 310ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 160ms;
  -webkit-transform: translate3d(114.42548px, 11.48084px, 0);
          transform: translate3d(114.42548px, 11.48084px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 240ms;
  -webkit-transform: translate3d(77.18543px, 85.2491px, 0);
          transform: translate3d(77.18543px, 85.2491px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 320ms;
  -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
          transform: translate3d(0.09158px, 114.99996px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 400ms;
  -webkit-transform: translate3d(-77.04956px, 85.37192px, 0);
          transform: translate3d(-77.04956px, 85.37192px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 480ms;
  -webkit-transform: translate3d(-114.40705px, 11.66307px, 0);
          transform: translate3d(-114.40705px, 11.66307px, 0);
}

@media only screen and (min-width:700px){
  #particles-js{
    display: block;
  }
}